@{
    ViewBag.Title = "Crear";
}

<form method="post" action="Crear">
    <input type="text" name="nombre" placeholder="Nombres"/><br />
    <input type="text" name="apellido" placeholder="Apellidos"/><br />
    <input type="text" name="numeroDocumento" placeholder="Número de Documento"/><br />
    <input type="text" name="fechaNacimiento" placeholder="Fecha de Nacimiento"/><br /><br />
    <input type="text" name="calle" placeholder="Calle"/><br />
    <input type="text" name="numero" placeholder="Número"/><br /><br />
    <input type="submit" value="Crear" />
</form>

